In [10]:
import sklearn 
import random
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, make_scorer
from sklearn import svm

In [2]:
df = pd.read_csv("data_final.csv")
df.head()
# print(df.columns)

,Unnamed: 0,ipo,name,funded_object_id,num_investors,raised_amount_usd,type_Bachelor,type_Master,type_Other,type_OtherDiploma,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,state_not specified
0,0,0,Wetpaint,c:1,9,39750000.0,7.0,5.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,0,FriendFeed,c:1001,3,5000000.0,4.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,Mobclix,c:10014,1,0.0,2.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,Fitbit,c:10015,19,68069200.0,2.0,7.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,MTPV,c:100155,5,10125293.0,1.0,3.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,ipo,name,funded_object_id,num_investors,raised_amount_usd,type_Bachelor,type_Master,type_Other,type_OtherDiploma,type_PhD,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,state_not specified
0,0,Wetpaint,c:1,9,39750000.0,7.0,5.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0,FriendFeed,c:1001,3,5000000.0,4.0,6.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Mobclix,c:10014,1,0.0,2.0,1.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Fitbit,c:10015,19,68069200.0,2.0,7.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,MTPV,c:100155,5,10125293.0,1.0,3.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,0,DECA,c:990,7,15000000.0,2.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9303,0,wunderloop,c:992,4,10000000.0,1.0,4.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9304,0,FastCustomer,c:99669,6,750000.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9305,0,Zimbra,c:997,9,14500000.0,2.0,7.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9306,0,Lyft,c:9972,14,82500000.0,5.0,2.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
features = df.columns
features = features.drop(['name', 'ipo','funded_object_id'])

In [5]:
#scaling on features
df[features] = StandardScaler().fit_transform(df[features])
df[features]

,num_investors,raised_amount_usd,type_Bachelor,type_Master,type_Other,type_OtherDiploma,type_PhD,subject_Accounting,subject_Accounting and Finance,subject_Advertising,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,state_not specified
0,0.635512,0.132250,0.925471,0.415943,0.351064,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,4.453911,-0.057916,-0.014661,-0.014661,-0.120061
1,-0.453854,-0.212109,0.380069,0.573365,-0.316151,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
2,-0.816976,-0.261657,0.016467,-0.213748,1.018278,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
3,2.451123,0.412882,0.016467,0.730788,1.018278,-0.079105,-0.351346,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
4,-0.090732,-0.161320,-0.165334,0.101098,-0.316151,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,4.707025,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,0.272390,-0.113013,0.016467,0.101098,0.351064,-0.079105,-0.351346,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
9303,-0.272293,-0.162561,-0.165334,0.258520,1.018278,-0.079105,-0.351346,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,7.977074
9304,0.090829,-0.254225,-0.165334,-0.371170,-0.316151,-0.079105,-0.351346,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,4.453911,-0.057916,-0.014661,-0.014661,-0.120061
9305,0.635512,-0.117968,0.016467,0.730788,1.018278,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061
9306,1.543318,0.555885,0.561869,-0.056325,1.018278,-0.079105,0.215178,-0.275306,-0.084908,-0.090478,...,-0.068921,-0.198168,-0.098839,-0.138037,-0.035931,-0.195321,-0.057916,-0.014661,-0.014661,-0.120061

In [6]:
# first try on KNN
def knn(X_train, Y_train, n = 1):
    knn = KNeighborsClassifier(n_neighbors = n)
    knn.fit(X_train, Y_train)
    return knn

# computing weighted accuracy from CS4780
def weighted_accuracy(pred, true):
    assert(len(pred) == len(true))
    num_labels = len(true)
    num_pos = sum(true)
    num_neg = num_labels - num_pos
    frac_pos = num_pos/num_labels
    weight_pos = 1/frac_pos
    weight_neg = 1/(1-frac_pos)
    num_pos_correct = 0
    num_neg_correct = 0
    for pred_i, true_i in zip(pred, true):
        num_pos_correct += (pred_i == true_i and true_i == 1)
        num_neg_correct += (pred_i == true_i and true_i == 0)
    weighted_accuracy = ((weight_pos * num_pos_correct) 
                         + (weight_neg * num_neg_correct))/((weight_pos * num_pos) + (weight_neg * num_neg))
    return weighted_accuracy

#custom scorer based on weighted accuracy function given
def weighted_accuracy_switched(y, y_pred):
    return weighted_accuracy(y_pred, y)

weighted_accuracy_score = make_scorer(weighted_accuracy_switched, greater_is_better = True)

In [7]:
Y = df['ipo']
X = df[features]

In [8]:
#knn cross validation (best param kept changing every time this was run)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.5)

tuned_parameters = [{'n_neighbors':[1, 3, 5, 7, 9, 11, 15, 21, 35, 51], 'weights': ['uniform', 'distance']}]

knn_cv = KNeighborsClassifier(n_neighbors = 3)
knn_cv_scores = cross_val_score(knn_cv, X, Y, cv=5)
# knn_cv_scores
print("Accuracy: %0.2f (+/- %0.2f)" % (knn_cv_scores.mean(), knn_cv_scores.std() * 2))

print("# Tuning KNN hyper-parameters for weighted accuracy")
print()

knn_clf = GridSearchCV(KNeighborsClassifier(), tuned_parameters)
knn_clf.fit(X_train, y_train)

print("Best parameters set found on train set:")
print()
print(knn_clf.best_params_)
print()
print("Grid scores on train set:")
print()
means = knn_clf.cv_results_['mean_test_score']
stds = knn_clf.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, knn_clf.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))
print()

print("Detailed classification report:")
print()
print("The model is trained on the full train set.")
print("The scores are computed on the full test set.")
print()
y_true, y_pred = y_test, knn_clf.predict(X_test)
print(classification_report(y_true, y_pred))
print()

Accuracy: 0.97 (+/- 0.00)
# Tuning KNN hyper-parameters for weighted accuracy

Best parameters set found on train set:

{'n_neighbors': 5, 'weights': 'uniform'}

Grid scores on train set:

0.966 (+/-0.004) for {'n_neighbors': 1, 'weights': 'uniform'}
0.966 (+/-0.004) for {'n_neighbors': 1, 'weights': 'distance'}
0.974 (+/-0.003) for {'n_neighbors': 3, 'weights': 'uniform'}
0.974 (+/-0.002) for {'n_neighbors': 3, 'weights': 'distance'}
0.975 (+/-0.001) for {'n_neighbors': 5, 'weights': 'uniform'}
0.975 (+/-0.001) for {'n_neighbors': 5, 'weights': 'distance'}
0.975 (+/-0.001) for {'n_neighbors': 7, 'weights': 'uniform'}
0.975 (+/-0.001) for {'n_neighbors': 7, 'weights': 'distance'}
0.974 (+/-0.002) for {'n_neighbors': 9, 'weights': 'uniform'}
0.974 (+/-0.002) for {'n_neighbors': 9, 'weights': 'distance'}
0.974 (+/-0.002) for {'n_neighbors': 11, 'weights': 'uniform'}
0.974 (+/-0.002) for {'n_neighbors': 11, 'weights': 'distance'}
0.974 (+/-0.002) for {'n_neighbors': 15, 'weights': 'uniform'}
0.974 (+/-0.002) for {'n_neighbors': 15, 'weights': 'distance'}
0.974 (+/-0.002) for {'n_neighbors': 21, 'weights': 'uniform'}
0.974 (+/-0.002) for {'n_neighbors': 21, 'weights': 'distance'}
0.974 (+/-0.001) for {'n_neighbors': 35, 'weights': 'uniform'}
0.974 (+/-0.001) for {'n_neighbors': 35, 'weights': 'distance'}
0.974 (+/-0.001) for {'n_neighbors': 51, 'weights': 'uniform'}
0.974 (+/-0.001) for {'n_neighbors': 51, 'weights': 'distance'}

Detailed classification report:

The model is trained on the full train set.
The scores are computed on the full test set.

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      4547
           1       0.50      0.01      0.02       107

    accuracy                           0.98      4654
   macro avg       0.74      0.50      0.50      4654
weighted avg       0.97      0.98      0.97      4654

In [12]:
#svm cross validation {'C': 10000.0, 'gamma': 0.05, 'kernel': 'rbf'}
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1)

tuned_parameters = [{'kernel': ['rbf'], 'gamma': [0.1,0.05,0.01], 'C': [1e4,1e5]}]
#tried {'kernel': ['linear'], 'C': [1, 10, 100, 1000, 10000]} 
#but always gave same accuracy for every C when using linear kernel

print("# Tuning SVM hyper-parameters for weighted accuracy")
print()

svm_clf = GridSearchCV(svm.SVC(), tuned_parameters)
svm_clf.fit(X_train, y_train)

print("Best parameters set found on train set:")
print()
print(svm_clf.best_params_)
print()
print("Grid scores on train set:")
print()
means = svm_clf.cv_results_['mean_test_score']
stds = svm_clf.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, svm_clf.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))
print()

print("Detailed classification report:")
print()
print("The model is trained on the full train set.")
print("The scores are computed on the full test set.")
print()
y_true, y_pred = y_test, svm_clf.predict(X_test)
print(classification_report(y_true, y_pred))
print()

# Tuning SVM hyper-parameters for weighted accuracy

Best parameters set found on train set:

{'C': 10000.0, 'gamma': 0.1, 'kernel': 'rbf'}

Grid scores on train set:

0.970 (+/-0.001) for {'C': 10000.0, 'gamma': 0.1, 'kernel': 'rbf'}
0.967 (+/-0.005) for {'C': 10000.0, 'gamma': 0.05, 'kernel': 'rbf'}
0.965 (+/-0.005) for {'C': 10000.0, 'gamma': 0.01, 'kernel': 'rbf'}
0.969 (+/-0.001) for {'C': 100000.0, 'gamma': 0.1, 'kernel': 'rbf'}
0.966 (+/-0.003) for {'C': 100000.0, 'gamma': 0.05, 'kernel': 'rbf'}
0.957 (+/-0.010) for {'C': 100000.0, 'gamma': 0.01, 'kernel': 'rbf'}

Detailed classification report:

The model is trained on the full train set.
The scores are computed on the full test set.

              precision    recall  f1-score   support

           0       0.98      0.99      0.98       908
           1       0.00      0.00      0.00        23

    accuracy                           0.97       931
   macro avg       0.49      0.50      0.49       931
weighted avg       0.95      0.97      0.96       931